*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}
:root{
   --hue-color: 252;
    --color-primary: hsl(var(--hue-color),75%,60%);
    --color-white: hsl(0,0%,100%);
    --color-light: hsl(252,5%,94%);
    --color-black: hsl(252,5%,15%);
    --color-dark: hsl(252,5%,40%);

    --border-radious1: 1.2rem;
    --border-radious2: 0.8rem;
    --border-radious3: 0.5rem;

    --transition: .4s ease all;
}
.dark-mood{
   --color-white: hsl(252,30%,8%);
    --color-light: hsl(252,5%,15%);
    --color-black: hsl(0,0%,100%);
    --color-dark: hsl(252,5%,92%);
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    font-size: 16px;
    letter-spacing: .2px;
    background: var(--color-light);
}
.container {
    max-width: 1620px;
    width: 75%;
    margin: 0 auto;
}
section{
    padding: 10rem 0;
    transition: var(--transition);
}
section>h2{
    text-align: center;
}
section>p{
    text-align: center;
    width: 40%;
    margin: .5rem auto 4rem;
    color: var(--color-dark);
}
a{
    color: var(--color-white);
    transition: var(--transition);
}
h1,h2,h3,h4,h5,h6{
    color: var(--color-black);
    line-height: 1.1;
}
h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.1rem;
}

h5{
    font-size: .95rem;
}

h6{
    font-size:.8rem;
}
 img{
    display: block;
    width: 100%;
    object-fit: cover;
 }
 .btn{
    display: inline-block;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--color-light);
    color: var(--color-black);
    padding: .6rem 2.5rem;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: var(--border-radious2);
    transition: var(--transition);
 }
 .btn:hover{
    background: transparent;
    border-color: var(--color-light);
    transform: translateY(-.5rem);
 }
 .btn-white{
    background: var(--color-white);
 }
 .btn-white:hover{
    background: transparent;
    border-color: var(--color-white);
 }
 .btn-primary{
    background: var(--color-primary);
    color: white;
 }
 a.btn-primary:hover{
    background: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary);
 }
 .btn-sm{
    padding: .5rem 1.2rem;
 }
 .card{
    background: var(--color-white);
    padding: 1.5rem;
    border: 2px solid transparent;
    border-radius: var(--border-radious1);
    transition: var(--transition);
 }
 .card:hover{
    background: transparent;
    border-color: var(--color-white);
    transform: translateY(-.5rem);
 }
 .card-light{
    background: var(--color-light);
 }
 .card-light:hover{
    background: transparent;
    border-color: var(--color-light);
 }
 .card span{
    font-size: 1.3rem;
    width: fit-content;
    color: var(--color-black);
    border-radius: var(--border-radious3);
    margin-inline: auto;
    padding: .6rem;
    align-items: center;
    display: flex;
    transition: var(--transition);
 }

 .card:hover span{
    background: var(--color-primary);
    color: var(--color-white);
 }
 .card h5{
    margin: .7rem 0;
 }







 nav{
    width: 100%;
    height: 5rem;
    display: grid;
    place-items: center;
    background: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    box-shadow: 0 1rem 1.5rem rgba(100, 100, 100, 0.2);
 }
 .nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .logo{
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
 }
 .nav-links{
    display: flex;
    align-items: center;
    gap: 3.5rem;
 }
 .nav-links li a{
    position: relative;
    color: white;
 }
 .nav-links li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: white;
    border-radius: var(--border-radious3);
    bottom: -6px;
    left: 0;
    transition: var(--transition);
 }
 .nav-links li a:hover::after{
    width: 100%;
 }
 #theme-icon{
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    border: none;
 }
 .menu-links{
   display: none;
 }






 header{
    margin-top: 5rem;
    height: calc(100vh - 5rem);
    display: grid;
    place-items: center;
    background: var(--color-white);
 }
 .header-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
 }
 .header-image{
    width: 18rem;
    height: 22rem;
    margin-bottom: 1.5rem;
    border-radius: 9rem 9rem 2rem 2rem;
    overflow: hidden;
 }
 .header-container p{
    width: 35rem;
    margin: 0.6rem 0 2rem;
    text-align: center;
    color: var(--color-dark);
 }
 .header-action-aria{
    display: flex;
    align-items: center;
    gap: 1.2rem;
 }
 .header-social{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }
 .header-social a{
    width: 1.8rem;
    aspect-ratio: 1/1;
    background: var(--color-light);
    display: grid;
    place-items: center;
    border-radius: var(--border-radious3);
    color: var(--color-black);
    transition: var(--transition);
 }
 .header-social a:hover{
    background: var(--color-primary);
    color: var(--color-white);
    transform: translateX(-.5rem);
 }





 .about-container{
    display: grid;
    grid-template-columns: 35% 35%;
    gap: 12%;
 }
 .about-image{
    height: fit-content;
    max-width: 40rem;
    border: 1rem solid var(--color-white);
    transition: var(--transition);
 }
 .about-image:hover{
    border-width: 0;
 }
 .about-cards{
    margin: 3rem 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
 }
 .about-card{
    text-align: center;
 }
 .about-card span{
    font-size: 1.3rem;
    width: fit-content;
    color: var(--color-black);
    border-radius: var(--border-radious3);
    margin-inline: auto;
    padding: .6rem;
    align-items: center;
    display: flex;
    transition: var(--transition);
 }

 .card:hover span{
    background: var(--color-primary);
    color: var(--color-white);
 }
 .about-container p{
    margin-bottom: .8rem;
    color: var(--color-dark);
 }
 small {
    color: var(--color-dark);
 }
 .about-container .btn{
    margin-top: 2.5rem;
 }




 #skills{
    background: var(--color-white);
 }
 .services-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
 }
 .services-card{
    display: flex;
    align-self: flex-start;
    gap: 1.4rem;
 }
 .services-card span{
    padding: .7rem;
    font-size: 1.4rem;
    background: var(--color-primary);
    height: max-content;
    border-radius: var(--border-radious3);
    color: var(--color-white);
    display: flex;
    transition: var(--transition);
 }
 .services-card:hover span{
    background: transparent;
    color: var(--color-primary);
 }
 .services-card h4{
    margin-bottom: 1rem;
 }
 .services-card p{
    color: var(--color-dark);
 }






 .portfolio-tabs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.3rem;
    margin-bottom: 3rem;
 }
 .active {
    background: var(--color-primary) !important;
    color: white !important;
    transform: none !important;
    border: none;
 }
 .portfolio-projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    
 }

 .portfolio-project{
    background: var(--color-white);
    padding: 1.4rem;
    border-radius: var(--border-radious1);
    animation: scalAni .6s;
 }
 @keyframes scalAni {
   0%{
       transform: scale(0);
   }
   100%{
       transform: scale(1);
   }
}
 .portfolio-project img{
    border-radius: var(--border-radious2);
 }
 .portfolio-project h5{
    font-size: 1.1rem;
    margin: .7rem 0;
 }
 .portfolio-project p{
    font-size: 15px;
    color: var(--color-dark);
    margin-bottom: 2rem;
 }







 #testimonials{
   background: var(--color-white);
 }
 .testimonial-slide{
   padding: 2rem;
   border-radius: var(--border-radious1);
   background: var(--color-light) !important;
   margin-bottom: 4rem;
   user-select: none;
 }
 .testimonial-slide p{
   color: var(--color-dark);
   font-size: 15px;
 }
 .info{
   display: flex;
   gap: 1rem;
   margin-top: 1.4rem;
 }
 .info img{
   width: 2.9rem;
   height: 2.9rem;
   border-radius: 50%;
 }










 .faq{
   height: max-content;
 }
 .faqs-container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2rem;
 }
 .faq-ask{
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .faq-ask i{
   color: var(--color-dark);
 }
 .faq-ans{
   margin-top: 1.4rem;
   color: var(--color-dark);
   font-size: 15px;
   display: none;
 }
 .faq-ans-active{
   display: block;
 }
 .faq-icon-active{
   display: none !important;
 }






 #contact{
   background: var(--color-white);
 }
 .contact-container{
   width: 20rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .contact-container a{
   background: var(--color-primary);
   padding: 1rem 1.2rem;
   border-radius: var(--border-radious2);
   font-size: 1.8rem;
   display: flex;
   border: 2px solid transparent;
   transition: var(--transition);
 }
 .contact-container a:hover{
   background-color: transparent;
   border-color: var(--color-primary);
   color: var(--color-primary);
   transform: translateY(-.5rem);
 }






 footer{
   background: var(--color-primary);
   padding: 5rem 0;
 }
 .footer-container{
   display: flex;
   flex-direction: column;
   gap: 2rem;
   align-items: center;
   justify-content: center;
   text-align: center;
 }
 .footer-links,
 .footer-social{
   display: flex;
   align-items: center;
   gap: 3rem;
 }
 .footer-links li a:hover{
   color: var(--color-light);
 }
 .footer-social a{
   font-size: 1.4rem;
 }
 .footer-social a:hover{
   color: var(--color-light);
 }
 footer p {
   color: var(--color-black);
 }






 .theme-customize{
   position: fixed;
   top: 0;
   background: rgba(0, 0, 0, 0.3);
   width: 100%;
   height: 100%;
   z-index: 11;
   backdrop-filter: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   display: none;
 }
 .customize-container{
   backdrop-filter: 60px;
   background: #dddddd;
   padding: 1.4rem 4rem;
   border-radius: var(--border-radious1);
   text-align: center;
   position: relative;
 }
 .fa-close{
   position: absolute;
   right: 0;
   top: 0;
   padding: 1rem;
   font-size: 1.2rem;
   cursor: pointer;
   color: #333;
   transition: var(--transition);
 }
 .fa-close:hover{
   color: var(--color-primary);
   font-size: 1.6rem;
 }
 .theme-customize h2,
 .theme-customize p,
 .theme-customize h4{
   color: #333;
 }
 .customize-container p{
   margin: .4rem auto;
   margin-bottom: 1.4rem;
 }
 .choose-color{
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin: 1rem auto;
   flex-wrap: wrap;
 }
 .choose-color span{
   width: 2.2rem;
   height: 2.2rem;
   border-radius: 50%;
 }
 .choose-color span:nth-child(1){
   background-color: hsl(252, 75%, 60%);
 }
 .choose-color span:nth-child(2){
   background-color: hsl(52, 75%, 60%);
 }
 .choose-color span:nth-child(3){
   background-color: hsl(352, 75%, 60%);
 }
 .choose-color span:nth-child(4){
   background-color: hsl(152, 75%, 60%);
 }
 .choose-color span:nth-child(5){
   background-color: hsl(202, 75%, 60%);
 }
 .choose-bg{
   margin: 1rem auto;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
 }
 .choose-bg span{
   width: 4rem;
   height: 2.4rem;
   border-radius: var(--border-radious3);
 }
 .choose-bg span:nth-child(1){
   background: white;
 }
 .choose-bg span:nth-child(2){
   background: hsl(252, 30%, 17%);
 }




#resume{
   background: var(--color-white);
}
 .container1{
   width: 100%;
   padding: 35px 10%;
}
.container1{
   padding-right: calc(10% - 30px);
}
div.row{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: 20px;
}
.col div.title{
   font-family: Arial, Helvetica, sans-serif;
   color: #11a372;
   padding: 0 0 20px 30px;
}
.col .contents{
   padding: 0 30px;
   border-left: 2px solid #bababa;
}
.col .contents .box{
   position: relative;
   padding: 20px;
   border: 1px solid #eaeaea;
   background-color: #ffffff;
   cursor: pointer;
   transition: all 0.4s;
   margin-bottom: 20px;
}
.col .contents .box:hover{
   box-shadow: 0px 3px 12px 0px #ccc;
   border: 1px solid transparent;
}
.col .contents .box::before{
   content: '';
   position: absolute;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   right: calc(100% + 22px);
   top: 0;
   background-color: #11a372;
   border:  2px solid white;
}
.box h4{
   position: relative;
   color: #11a372;
}
.box h3{
   font-size: 19px;
   padding: 10px 0 6px;
   font-family: Arial, Helvetica, sans-serif;
   color: #444;
}
.box p{
   line-height: 1.2;
   color: #666;
   font-size: 17px;
}









 @media (max-width: 1024px){

   body{
      font-size: 1rem;
   }
   .container{
      width: 90%;
   }
   section{
      padding: 8rem 0;
   }
   section>p{
      width: 72%;
   }
   h1{
      font-size: 2rem;
   }
   .nav-links{
      display: none;
   }
   .menu-links{
      background: rgba(0, 0, 0, 0.3);
      display: block;
      left: 50%;
      transform: translateX(-50%);
      bottom: 2rem;
      width: max-content;
      display: flex;
      align-items: center;
      z-index: 10;
      padding: .7rem 1.6rem;
      position: fixed;
      border-radius: 2rem;
      gap: 1rem;
      display: none;
      backdrop-filter: 20px;
      transition: var(--transition);
   }
   .menu-links a{
      border-radius: 50%;
      padding: 1rem;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      color: white;
   }
   header{
      margin-top: 0;
      height: 100vh;
   }
   .about-left{
      display: none;
   }
   .about-container{
      grid-template-columns: 1fr;
   }
   .about-right{
      text-align: center;
   }
   .about-right .btn{
      justify-content: center;
      margin: auto;
      margin-top: 2.5rem;
   }
   .services-container{
      gap: 1.4rem;
   }
   .portfolio-projects{
      gap: 1.4rem;
      grid-template-columns: repeat(2,1fr);
   }
   .portfolio-project{
      padding: 1.2rem;
   }
   .faqs-container{
      gap: 1.4rem;
   }
   .contact-container{
      width: 20rem;
   }
   footer{
      padding: 3rem 0;
   }
   .footer-container{
      gap: 1.6rem;
   }
   .footer-links,
   .footer-social{
      gap: 1.4rem;
   }
 }
 @media (max-width: 600px){
   h1{
      font-size: 2.4rem;
   }
   h2{
      font-size: 1.8rem;
   }
   h3{
      font-size: 1.4rem;
   }
   h4{
      font-size: 1rem;
   }
   .btn{
      padding: .6rem 1.5rem;
   }
   section>p{
      width: 90%;
   }
   .header-image{
      width: 14rem;
      height: 17rem;
      max-width: 60%;
      max-height: 35vh;
   }
   .header-container p{
      width: 100%;
   }
   .header-social{
      display: none;
   }
   .header-action-aria{
      gap: 1rem;
   }
   .menu-links{
      gap: .8rem;
   }
   .about-cards{
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
   }
   .about-right .btn{
      margin-top: 2rem !important;
   }
   .services-container{
      grid-template-columns: 1fr;
      gap: 1rem;
   }
   .portfolio-tabs{
      gap: 1.4rem;
      justify-content: space-between;
   }
   .portfolio-projects{
      grid-template-columns: 1fr;
      gap: 1rem;
   }
   .faqs-container{
      grid-template-columns: 1fr;
      gap: 1rem;
   }
   .footer-links,
   .footer-social{
      flex-wrap: wrap;
   }
   .customize-container{
      padding: 2rem !important;
      width: 90%;
   }
   div.row{
      grid-template-columns: 1fr;
  }
  .row .col:nth-child(2){
      margin-top: 30px;
  }
 }