*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}

:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.table{
    width: 65%;
    position: relative;
    top: 100px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
    color: #1f242d;
  }
  td a{
    color: rgb(126, 93, 93);
  }
  td a:hover{
    color: var(--main-color);
  }
  .footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
    margin-right: 8rem;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}