/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Navbar */
  #nav-menu {
    position: sticky;
    top: 0;
    z-index: 100;
    
  }
  
  /* Adjust the styles of the navbar when scrolling */
  #nav-menu.sticky {
    background-color: transparent;
  }
  
  #nav-menu.sticky ul li a {
    /* color: #fff; */
  }
  
  #nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  }
  
  #nav-menu ul li {
    display: inline-block;
    
  }
  
  #nav-menu ul li a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    
  }
  #nav-menu ul li a.active {
    color: red;
    /* Add your desired styles for the clicked item here */
  }
  
  /* Home Section */
  #home {
    background-color: #f2f2f2;
    text-align: center;
    padding: 100px 0;
  }
  
  .home-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    
  }
  
  
  
  #user-detail-name {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #user-detail-intro {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
    animation: slideIn 1s ease-in-out infinite;
  }
  
  /* CSS Animation */
@keyframes slideIn {
  0% {
    transform: translateY(0);
    text-shadow: none;
  }
  50% {
    transform: translateY(-20px);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: translateY(0);
    text-shadow: none;
  }
}

/* Apply Animation */


  /* About Section */
  .about {
    /* background-color: #fff; */
    padding: 50px 0;
  }
  
  .about h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Skills Section */
  #skills {
    background-color: #f2f2f2;
    padding: 50px 0;
    
  }
  #skills  .skills-grid{
    background-color: #f2f2f2;
    padding: 50px 0;
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  }
  
  .skills-card {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .skills-card img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    animation: rotate 3.5s linear infinite;
    transition: transform 0.3s ease-in-out;
  }
  
  .skills-card-name {
    font-size: 18px;
  }
  
 
  
  .skills-card-img:hover {
    transform: scale(1.1);
  }
  
  /* Apply Animation Effect */
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .skills-card-img.animated {
    animation: rotate 1.5s linear infinite;
  }
  
  /* Projects Section */
  #projects {
    background-color: #fff;
    padding: 50px 0;
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  /* #projects > .container{
    display: flex;
  } */
  
  .project-card {
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
  .project-card img{
    width: 100%;
    height: 200px;
    animation: fadeInOut 3s ease-in-out infinite alternate;
  }
  @keyframes fadeInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  .project-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .project-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .project-tech-stack {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
  }
  
  .project-github-link,
  .project-deployed-link {
    display: block;
    text-decoration: none;
    color: #333;
    margin-bottom: 5px;
  }
  .project-card h3, p ,a{
    padding: 0 10px;
  }
  
  /* Contact Section */
  #contact {
    background-color: #f2f2f2;
    padding: 50px 0;
  }
  
  .contact ul {
    list-style-type: none;
    padding: 0;
  }
  
  .contact ul li {
    margin-bottom: 10px;
  }
  
  .contact ul li a {
    color: #333;
    text-decoration: none;
  }
  
  /* Resume Buttons */
  #resume-button-1,
  #resume-button-2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }
  